@media screen and (min-width:768px) and (max-width:992px) {
    section#login {
        width: 90vw;
        background-repeat: no-repeat;
        gap:70px;
    }

    body {
        background-image: linear-gradient(to top, #8C3545, #735736);
    }

    div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 60%;
    }

    #formulario h1 {
        color: #D9D9D9;
        text-align: center;
        margin-bottom: 10px;
        font-size:1.8em;

    }

    #formulario p {
        font-size:1.2em;
        color: #261901;
        margin: auto;
    }
    input{
        height:50px;
    }
    form > input[type=button]{
        height:50px;
    }
}

@media screen and (min-width:992px) {
    section#login {
        width: 90vw;
        background-repeat: no-repeat;
    }

    div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }
    input{
        height:55px;
    }
    form > input[type=button]{
        height:55px;
    }
    #formulario p {
        font-size:1.4em;
    }
    #formulario h1{
        font-size:2em;
    }
}